---
import BaseLayout from "./BaseLayout.astro";
import { collections } from "../content/config";
import { convertDate } from "../helpers/helpers";

interface Props {
  data: any;
}

const { data } = Astro.props;
---

<BaseLayout title={`Article | ${data.title}`}>
  <article class="p-4">
    {data.heroImage && <img src={data.heroImage} alt="image" />}
    {
      data.pubDate && (
        <time datetime={data.pubDate}>{convertDate(data.pubDate)}</time>
      )
    }
    <p>Category: {data.category}</p>
    {data.sourceLink && <a href={data.sourceLink}>Source</a>}
    {
      data.tags &&
        data.tags.map((tag: string) => <span class="m-3">{tag}</span>)
    }
    <hr />
    <div class="prose lg:prose-xl dark:prose-invert">
      <slot />
    </div>
  </article>
</BaseLayout>
